body{
  background-color: aqua;
  
}
.titulo {
  padding: 25px;
  width: 30%;
  inline-size: auto;
  margin: auto;
  font-size: 50px;
}
#contenedor-principal{
  width: 30%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
}
#contenedor-btnPalabra{
  width: 30%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  
}
#canvas{
  width: 30%;
  max-width: 1000px;
}

.btn{
  background-color: cadetblue;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  border: solid 10px black;
  position: relative;
  margin: 20px;
}
.btn:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
  background-color: lightcoral;
  font-size: 22px;
  border: groove 4px red;
}
#btnRegistrar{
  background-color: cadetblue;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  border: solid 10px black;
}
#btnRegistrar:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
  background-color: lightcoral;
  font-size: 22px;
  border: groove 4px red;
}
#agregarPalabra{
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
.author{
  color: black;
  padding-top: 20px;
  text-align: center;
}
/* social media icons styling */
.social-icons {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
  align-items: center;
  text-align: center;
}
.fab {
  color: #000000;
}

@media screen and (max-width: 480px ) {
  body , #contenedor-principal {
   width: auto;
   margin: 0 auto;
  }
  .titulo{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration:underline;
    margin-left: 45px;
  }
  .foto1{
    width: 10rem;
    border-radius: 10rem;
    justify-content: center;
    margin-left: 45px;
  }
  .btn{
    width: 10rem;
    border-radius: 10rem;
    justify-content: center;
  }
  #btnRegistrar , #agregarPalabra{
    display: none;
  }
  #ahorcado{
    width: auto;
    height: auto;
  }
  #footer{
    width: 240px;
    font-size: 10px;
  }

}
@media screen and (max-width: 700px ) {
  body , #contenedor-principal ,#canvas ,#jugar-nuevo   {
   width: 100%;
  }
  .titulo{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    text-decoration:underline;
   
  }
  .foto1{
   margin-left: 90px;
  }
  #iniciar-juego{
   width: 15rem;
   margin: 100px;
   bottom: 100px;
  }
  #btnRegistrar , #agregarPalabra{
    display: none;
  }
  #ahorcado{
    width: 500px;
    height: 500px;
  }
  #footer{
    width: 480px;
    font-size: 15px;
  }

}